<<<<<<< HEAD
.div {
    background-color: skyblue;
}

.div.active {
    background-color: tomato;
}

.div span {
    height: 20px;
    width: 20px;
}
=======
>>>>>>> 2971918cac435b210b00b076b372a07f7ff7447e
